@model FilterGroupModel

<div id="filter-group" class="govuk-form-group">
    <fieldset id="filter-group-fieldset" class="govuk-fieldset">
        <legend id="filter-group-legend" class="govuk-fieldset__legend govuk-fieldset__legend--m">
            @Model.Description
        </legend>
        <div id="filter-group-checkboxes-container-outer" class="govuk-checkboxes govuk-checkboxes--small">
            @foreach (var filter in Model.Filters)
            {
                <div id="filter-group-checkboxe-container-inner" class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="@filter.Id" name="@Model.Name" type="checkbox" value="@filter.Id">
                    <label id="filter-group-checkbox-label-@filter.Id" class="govuk-label govuk-checkboxes__label" for="@filter.Id">
                        @filter.Description
                    </label>
                </div>
            }
        </div>
    </fieldset>
</div> 
