@model FilterSectionModel

<div id="filter-group-@Model.FilterSectionModelID" class="govuk-form-group das-filter__section">

    <fieldset id="filter-group-fieldset-@Model.FilterSectionModelID" class="govuk-fieldset">

        <legend id="filter-group-legend-@Model.FilterSectionModelID" class="govuk-fieldset__legend govuk-fieldset__legend--m">

            @Model.FilterSectionModelName

        </legend>

        <div id="filter-group-checkboxes-container-outer-@Model.FilterSectionModelID" class="govuk-checkboxes govuk-checkboxes--small">

            @foreach (var aspect in Model.FilterSectionModelAspects)
            {

                <div id="filter-group-checkboxe-container-inner-@aspect.FilterSectionAspectModelID" class="govuk-checkboxes__item">

                    <input class="govuk-checkboxes__input" id="@aspect.FilterSectionAspectModelID" name="FilterAspects" type="checkbox" value="@aspect.FilterSectionAspectModelID" @(aspect.FilterSectionAspectSelected ? "checked" : "")>

                    <label id="filter-group-checkbox-label-@aspect.FilterSectionAspectModelID" class="govuk-label govuk-checkboxes__label" for="@aspect.FilterSectionAspectModelID">

                        @aspect.FilterSectionAspectDisplayName

                    </label>

                </div>

            }

        </div>

    </fieldset>

</div> 
