@using SFA.DAS.FindEmploymentSchemes.Contentful.Model.Interim
@using SFA.DAS.FindEmploymentSchemes.Web.Services

@model (InterimTile?, bool)

<div class="das-tile">

    @if(Model.Item1 != null)
    {

        <div class="das-tile__img-container">

            <img class="das-tile__img" src="@InterimComponentService.GetMediaImageSource(Model.Item1.InterimTileImage)" alt="@Model.Item1.InterimTileTitle" />

        </div>

        <div class="das-tile__body">

            <div class="das-tile__body-heading">

                <a id="link-@Model.Item1.InterimTileID" class="das-tile__tile-link" href="@(Model.Item2 ? $"/preview{Model.Item1.InterimTileSource}" : Model.Item1.InterimTileSource)" aria-labelledby="link-@Model.Item1.InterimTileID p-@Model.Item1.InterimTileID">@Model.Item1.InterimTileHeading</a>

            </div>

            <div id="p-@Model.Item1.InterimTileID" class="das-tile__body-text">

                <div>

                    @InterimComponentService.ToHtmlString(Model.Item1.InterimTileDescription)

                </div>

            </div>

        </div>

    }

</div>