@model System.Tuple<string, string, IHtmlContent?, SchemeFilterModel?>

@if (!string.IsNullOrWhiteSpace(@Model.Item1) || !string.IsNullOrWhiteSpace(@Model.Item2))
{

    <div class="das-primary-banner govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-6 govuk-!-margin-right-0 govuk-!-margin-left-0">

        <div class="govuk-width-container govuk-width-container-large">

            <div class="govuk-grid-column-two-thirds govuk-!-padding-top-0 govuk-!-padding-left-0">

                @if (!string.IsNullOrWhiteSpace(@Model.Item1))
                {

                    if(Model.Item4 == null)
                    {

                        <a id="scheme-comparison-breadcrumb"

                           href="javascript:void(0);"

                           onclick="history.back();"

                           class="govuk-back-link"
                        
                        >

                            Home

                        </a>

                    }
                    else
                    {

                        <a 
                            
                            id="scheme-comparison-breadcrumb"

                            asp-route="@Model.Item1"
                            
                            asp-route-filters="@(Model.Item4?.FilterAspects != null ? string.Join(',', Model.Item4.FilterAspects) : null)"

                            class="govuk-back-link"
                           
                        >

                            Home

                        </a>

                    }

                }

                @if (!string.IsNullOrWhiteSpace(@Model.Item2))
                {

                    <h1 id="comparison-results-h1" class="govuk-heading-xl govuk-!-margin-top-4">@Model.Item2</h1>

                }

            </div>

        </div>

    </div>

}

@if (@Model.Item3 != null)
{

    <div class="das-primary-banner govuk-grid-row govuk-!-padding-top-1 govuk-!-margin-right-0 govuk-!-margin-left-0">

        <div class="govuk-width-container govuk-width-container-large">

            @Html.Raw(@Model.Item3)

        </div>

    </div>

}