@model Scheme

<section id="scheme-section-@Model.Name" data-scheme @{ RenderFilterIds(Model.FilterAspects); }>
    <hr id="scheme-hr-@Model.Name" class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 id="scheme-header-@Model.Name" class="govuk-heading-m govuk-!-margin-bottom-3">
        <a id="scheme-header-link-@Model.Name" asp-route="schemes" asp-route-schemeUrl="@Model.Url" class="govuk-link">@Model.Name</a>
    </h2>
    <p id="scheme-para-@Model.Name" class="govuk-body">@Model.ShortDescription</p>
    <div id="scheme-grid-row-@Model.Name" class="govuk-grid-row">
        <div id="scheme-short-cost-container-@Model.Name" class="govuk-grid-column-one-third">
            <h3 id="scheme-short-cost-header-@Model.Name" class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
            <p id="scheme-short-cost-para-@Model.Name" class="govuk-body">@Model.ShortCost</p>
        </div>
        <div id="scheme-benefits-container-@Model.Name" class="govuk-grid-column-one-third">
            <h3 id="scheme-benefits-header-@Model.Name" class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p id="scheme-benefits-para-@Model.Name" class="govuk-body">@Model.ShortBenefits</p>
        </div>
        <div id="scheme-short-time-container-@Model.Name" class="govuk-grid-column-one-third">
            <h3 id="scheme-short-time-header-@Model.Name" class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p id="scheme-short-time-para-@Model.Name" class="govuk-body">@Model.ShortTime</p>
        </div>
    </div>
</section>

@{
    void RenderFilterIds(IEnumerable<string> filterIds)
    {
        foreach (var filterId in filterIds)
        {
            @Html.Raw($"data-filter-{filterId} ");
        }
    }
}
