@model (Scheme, PreviewModel)

@{

    var scheme = Model.Item1;

    string schemesRouteName = Model.Item2.IsPreview?"schemes-preview":"schemes";

}

<section 
    
    class="scheme-section" 
    
    id="scheme-section-@scheme.HtmlId"
    
    data-default="@scheme.DefaultOrder"
    
    data-popularity="@scheme.PopularityOrder"

    data-duration="@scheme.DurationOrder"

    data-cost="@scheme.CostOrder"
    
    data-scheme @{ RenderFilterIds(scheme.FilterAspects); }

>

    <div class="govuk-grid-column-full govuk-!-padding-0">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="filter-full-width govuk-grid-column-full app-scheme-titles govuk-!-padding-left-0 govuk-!-padding-right-0">

            <h2 id="scheme-header-@scheme.HtmlId" class="govuk-heading-l govuk-!-margin-bottom-3 govuk-!-margin-top-3">

                @scheme.Name

            </h2>

        </div>

        <div class="govuk-grid-row">

            <div class="filter-full-width govuk-grid-column-full">

                @scheme.ShortDescription

            </div>

        </div>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                <h3 id="scheme-benefits-header-@scheme.HtmlId" class="govuk-heading-m govuk-!-margin-bottom-2">Benefits for your business</h3>

                <div>

                    @scheme.ShortBenefits

                </div>

            </div>

            <div class="govuk-grid-column-full">

                <h3 id="scheme-short-cost-header-@scheme.HtmlId" class="govuk-heading-m govuk-!-margin-bottom-2">Cost</h3>

                <div>

                    @scheme.ShortCost

                </div>

            </div>

            <div class="govuk-grid-column-full">

                <h3 id="scheme-short-time-header-@scheme.HtmlId" class="govuk-heading-m govuk-!-margin-bottom-2">Duration</h3>

                <div>

                    @scheme.ShortTime

                </div>

            </div>

        </div>

        <div class="govuk-grid-row">

            <div class="filter-full-width govuk-grid-column-full govuk-!-padding-top-4 govuk-!-padding-bottom-6">

                <a id="scheme-header-link-@scheme.HtmlId" asp-route="@schemesRouteName" asp-route-schemeUrl="@scheme.Url" class="govuk-link">@scheme.VisitSchemeInformation</a>

            </div>

        </div>

    </div>

</section>

@{
    void RenderFilterIds(IEnumerable<string> filterIds)
    {
        foreach (var filterId in filterIds)
        {
            @Html.Raw($"data-filter-{filterId} ");
        }
    }
}
