@model ContactModel

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{

    ViewData["Title"] = "Contact";

}

@{

    string completeUrl = Url.Action("Index", "Contact", null, protocol: HttpContextAccessor.HttpContext?.Request.Scheme)!;

}

<div class="das-primary-banner govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-6 govuk-!-margin-right-0 govuk-!-margin-left-0">

    <div class="govuk-width-container govuk-width-container-large">

        <div class="govuk-grid-column-two-thirds govuk-!-padding-top-0 govuk-!-padding-left-0">

            <a id="scheme-comparison-breadcrumb" asp-route="Home" class="govuk-back-link" role="link">Back</a>

            <h1 id="comparison-results-h1" class="govuk-heading-l govuk-!-margin-top-4">Contact</h1>

            <p>

                A list of organisations you can contact if you have specific questions or want more details.

                <a class="govuk-link" href="https://www.gov.uk/call-charges">Call charges and phone numbers - GOV.UK (www.gov.uk) </a>

            </p>

        </div>

    </div>

</div>

<div class="govuk-width-container govuk-!-padding-top-6">

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            @foreach(Contact contact in Model.ContactList)
            {

                <div class="govuk-inset-text govuk-details__text">

                    <h2 class="govuk-heading-m">@contact.SectionName</h2>

                    <ul class="govuk-list">

                        @foreach(ContactInformation contactInformation in contact.ContactInformation)
                        {

                            <li>

                                @contactInformation.Description

                                @if (!string.IsNullOrWhiteSpace(contactInformation.HyperlinkName) && !string.IsNullOrWhiteSpace(contactInformation.HyperlinkSource))
                                {

                                    <a href="@contactInformation.HyperlinkSource" class="govuk-link" role="link">@contactInformation.HyperlinkName</a>

                                }

                            </li>

                        }

                    </ul>

                    @foreach(ContactLink contactLink in contact.ContactLinks)
                    {

                        <p class="govuk-body">

                            <a class="govuk-link" href="@contactLink.Hyperlink" role="link">@contactLink.Description</a>

                        </p>

                    }

                </div>

            }

        </div>

    </div>

</div>

@await Html.PartialAsync("_SharePagePartial", completeUrl)