@using SFA.DAS.FindEmploymentSchemes.Contentful.Model.Interim
@model ContactPageModel

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{

    ViewData["Title"] = "Find training and employment schemes for your business - Contacts";

}

@{

    string completeUrl = Url.Action("Index", "Contact", null, protocol: HttpContextAccessor.HttpContext?.Request.Scheme)!;

}

@await Html.PartialAsync(

    "_InterimPreambleGeneralPartial",

    new Tuple<InterimPreamble?, InterimBreadcrumbs?, bool, bool>(Model.InterimPreamble, Model.InterimBreadcrumbs, false, Model.Preview.IsPreview)

)

<div class="govuk-width-container govuk-!-padding-top-6">

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            @foreach(Contact contact in Model.Contacts.OrderBy(a => a.Order))
            {

                <div class="govuk-inset-text govuk-details__text">

                    <h2 class="govuk-heading-m">@contact.SectionName</h2>

                    <ul class="govuk-list">

                        @foreach(ContactInformation contactInformation in contact.ContactInformation)
                        {

                            <li>

                                @contactInformation.Description

                                @if (!string.IsNullOrWhiteSpace(contactInformation.HyperlinkName) && !string.IsNullOrWhiteSpace(contactInformation.HyperlinkSource))
                                {

                                    <a href="@contactInformation.HyperlinkSource" class="govuk-link" role="link">@contactInformation.HyperlinkName</a>

                                }

                            </li>

                        }

                    </ul>

                    @foreach(ContactLink contactLink in contact.ContactLinks)
                    {

                        <p class="govuk-body">

                            <a class="govuk-link" href="@contactLink.Hyperlink" role="link">@contactLink.Description</a>

                        </p>

                    }

                </div>

            }

        </div>

    </div>

</div>

@await Html.PartialAsync("_SharePagePartial", completeUrl)