@model Scheme

@*todo: wrap in section?*@
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
@*todo: best form? accessibility, route, helper? etc.*@
<h2 class="govuk-heading-m govuk-!-margin-bottom-3"><a asp-route="schemes" asp-route-schemeUrl="@Model.Url" class="govuk-link">@Model.Name</a></h2>
<p class="govuk-body">@Model.ShortDescription</p>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
        <p class="govuk-body">@Model.ShortCost</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
        <p class="govuk-body">@Model.ShortBenefits</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
        <p class="govuk-body">@Model.ShortTime</p>
    </div>
</div>