@model ComparisonResultsModel

@*@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor*@

@await Html.PartialAsync(

    "_PreambleBannerPartial",

    new Tuple<string, string, IHtmlContent?>(@Model.Preview.IsPreview ? "scheme-comparison-preview" : "scheme-comparison", "Comparison of schemes", null)

)

<div class="govuk-width-container">

    <div class="govuk-grid-row govuk-!-padding-top-6">

        <div class="govuk-grid-column-full">

            <div class="nhsuk-table-container govuk-!-margin-bottom-0">

                <table id="comparison-results-table" class="govuk-table nhsuk-table-responsive govuk-!-margin-bottom-0" aria-labelledby="comparison-results-h1">
                        
                    <thead class="nhsuk-table__head">

                        <tr class="govuk-table__row">

                            <th scope="col" class="govuk-table__header">Scheme</th>

                            <th scope="col" class="govuk-table__header">Cost</th>

                            <th scope="col" class="govuk-table__header">Benefits</th>

                            <th scope="col" class="govuk-table__header">Time</th>

                        </tr>

                    </thead>

                    <tbody class="govuk-table__body nhsuk-table__body">

                        @foreach (Scheme scheme in Model.Schemes)
                        {

                            <tr class="govuk-table__row nhsuk-table__row">

                                <td class="govuk-table__cell nhsuk-table__cell">

                                    <span class="nhsuk-table-responsive__heading">Scheme</span>

                                    <a id="scheme-header-link-@scheme.HtmlId" asp-route="@(Model.Preview.IsPreview ? "schemes-preview" : "schemes")" asp-route-schemeUrl="@scheme.Url" class="govuk-link" role="link">@scheme.Name</a>
                                    
                                </td>

                                <td class="govuk-table__cell nhsuk-table__cell">

                                    <span class="nhsuk-table-responsive__heading">Cost</span>

                                    @scheme.ShortCost

                                </td>

                                <td class="govuk-table__cell nhsuk-table__cell">

                                    <span class="nhsuk-table-responsive__heading">Benefits</span>

                                    @scheme.ShortBenefits

                                </td>

                                <td class="govuk-table__cell nhsuk-table__cell">

                                    <span class="nhsuk-table-responsive__heading">Time</span>

                                    @scheme.ShortTime

                                </td>

                            </tr>

                        }

                    </tbody>

                </table>

            </div>

        </div>

    </div>

    <div class="govuk-grid-row govuk-!-padding-top-6 govuk-!-padding-bottom-6 govuk-!-padding-left-3">

        <a asp-route="@(Model.Preview.IsPreview ? "home-preview" : "home")" class="govuk-link" role="link">Return to list of all schemes</a>

    </div>

</div>