@using SFA.DAS.FindEmploymentSchemes.Contentful.Model.Interim
@model ComparisonResultsModel

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{

    string filterQueryString = Model.Filters == null ? string.Empty : Model.Filters.BuildFilterQueryString();

    string completeUrl = $"{Url.Action("Comparison", "Schemes", Model.Schemes, protocol: HttpContextAccessor.HttpContext?.Request.Scheme)!}?{filterQueryString}";

}

@await Html.PartialAsync(

    "_InterimPreambleGeneralPartial",

    new Tuple<InterimPreamble?, InterimBreadcrumbs?, bool>(Model.SchemeComparison?.InterimPreamble, Model.SchemeComparison?.InterimBreadcrumbs, false)

)

<div class="govuk-width-container">

    @if(Model.SchemeComparison != null)
    {

        <div class="govuk-grid-row govuk-!-padding-top-6 govuk-!-padding-bottom-6 govuk-!-padding-left-2 govuk-!-padding-right-2">

            <a asp-controller="Schemes" asp-action="@(Model.Preview.IsPreview ? "comparison-preview" : "comparison")" class="das-button__secondary govuk-!-margin-bottom-0" role="button">@Model.SchemeComparison?.SchemeComparisonActionButtonText</a>

        </div>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                <div class="nhsuk-table-container govuk-!-margin-bottom-0">

                    <table id="comparison-results-table" class="govuk-table nhsuk-table-responsive govuk-!-margin-bottom-0" aria-labelledby="comparison-results-h1">

                        <thead class="nhsuk-table__head">

                            <tr class="govuk-table__row">

                                <th scope="col" class="govuk-table__header">@Model.SchemeComparison?.SchemeComparisonTitleColumnHeading</th>

                                <th scope="col" class="govuk-table__header">@Model.SchemeComparison?.SchemeComparisonRecruitOrTrainHeading</th>

                                <th scope="col" class="govuk-table__header">@Model.SchemeComparison?.SchemeComparisonAgeHeading</th>

                                <th scope="col" class="govuk-table__header">@Model.SchemeComparison?.SchemeComparisonCostHeading</th>

                                <th scope="col" class="govuk-table__header">@Model.SchemeComparison?.SchemeComparisonDurationHeading</th>

                            </tr>

                        </thead>

                        <tbody class="govuk-table__body nhsuk-table__body">

                            @foreach (Scheme scheme in Model.Schemes)
                            {

                                <tr class="govuk-table__row nhsuk-table__row">

                                    <td class="govuk-table__cell nhsuk-table__cell">

                                        <span class="nhsuk-table-responsive__heading">Scheme</span>

                                        <a id="scheme-header-link-@scheme.HtmlId" asp-route="@(Model.Preview.IsPreview ? "schemes-preview" : "schemes")" asp-route-schemeUrl="@scheme.Url" class="govuk-link" role="link">@(string.IsNullOrWhiteSpace(scheme.ShortName) ? scheme.Name : scheme.ShortName)</a>

                                    </td>

                                    <td class="govuk-table__cell nhsuk-table__cell">

                                        <span class="nhsuk-table-responsive__heading">New or existing staff</span>

                                        @scheme.ComparisonRecruitOrTrain

                                    </td>

                                    <td class="govuk-table__cell nhsuk-table__cell">

                                        <span class="nhsuk-table-responsive__heading">Age</span>

                                        @scheme.ComparisonAgeCriteria

                                    </td>

                                    <td class="govuk-table__cell nhsuk-table__cell">

                                        <span class="nhsuk-table-responsive__heading">Cost</span>

                                        @scheme.ComparisonCost

                                    </td>

                                    <td class="govuk-table__cell nhsuk-table__cell">

                                        <span class="nhsuk-table-responsive__heading">Duration</span>

                                        @scheme.ComparisonDuration

                                    </td>

                                </tr>

                            }

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    }

</div>

@await Html.PartialAsync("_SharePagePartial", completeUrl)