@model IEnumerable<Scheme>

@section BreadCrumbs {
    <a id="scheme-comparison-breadcrumb" asp-route="scheme-comparison" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 id="comparison-results-h1" class="govuk-heading-l">
            Comparison of schemes
        </h1>
        <table id="comparison-results-table" class="govuk-table" aria-labelledby="comparison-results-h1">
            <thead class="govuk-table__head">
                <tr>
                    <th scope="col" class="govuk-table__header comparison-results-scheme">
                        Scheme
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Cost
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Benefits
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Time
                    </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach(Scheme scheme in Model) {
                    <tr>
                        <td class="govuk-table__cell comparison-results-scheme">
                            <div>
                                <a id="scheme-header-link-@scheme.HtmlId" asp-route="schemes" asp-route-schemeUrl="@scheme.Url" class="govuk-link">@scheme.Name</a>
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div>
                                @scheme.ShortCost
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div>
                                @scheme.ShortBenefits
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div>
                                @scheme.ShortTime
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p class="govuk-body">
            <a href="/" class="govuk-link"> Return to list of all schemes </a>
        </p>
    </div>
</div>
