@model ComparisonResultsModel

@section BreadCrumbs {
    <a id="scheme-comparison-breadcrumb" asp-route="@(Model.Preview.IsPreview?"scheme-comparison-preview":"scheme-comparison")" class="govuk-back-link">Back</a>
}

@*<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 id="comparison-results-h1" class="govuk-heading-l">
            Comparison of schemes
        </h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        Scheme
    </div>
    <div class="govuk-grid-column-one-quarter">
        Cost
    </div>
    <div class="govuk-grid-column-one-quarter">
        Benefits
    </div>
    <div class="govuk-grid-column-one-quarter">
        Time
    </div>
</div>
@foreach (Scheme scheme in Model.Schemes)
{

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <hr/>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <a id="scheme-header-link-@scheme.HtmlId" asp-route="@(Model.Preview.IsPreview?"schemes-preview":"schemes")" asp-route-schemeUrl="@scheme.Url" class="govuk-link">@scheme.Name</a>
        </div>
        <div class="govuk-grid-column-one-quarter">
            @scheme.ShortCost
        </div>
        <div class="govuk-grid-column-one-quarter">
            @scheme.ShortBenefits
        </div>
        <div class="govuk-grid-column-one-quarter">
            @scheme.ShortTime
        </div>
    </div>
}*@

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
    <h1 id="comparison-results-h1" class="govuk-heading-l">Comparison of schemes</h1>
    
    <div class="nhsuk-table-container">
        <table id="comparison-results-table" class="govuk-table nhsuk-table-responsive" aria-labelledby="comparison-results-h1">
            <thead class="nhsuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Scheme</th>
                <th scope="col" class="govuk-table__header">Cost</th>
                <th scope="col" class="govuk-table__header">Benefits</th>
                <th scope="col" class="govuk-table__header">Time</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body nhsuk-table__body">
            @foreach(Scheme scheme in Model.Schemes) {
                <tr class="govuk-table__row nhsuk-table__row">
                    <td class="govuk-table__cell nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Scheme</span>
                        <a id="scheme-header-link-@scheme.HtmlId" asp-route="@(Model.Preview.IsPreview ? "schemes-preview" : "schemes")" asp-route-schemeUrl="@scheme.Url" class="govuk-link">@scheme.Name</a>
                    </td>
                    <td class="govuk-table__cell nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Cost</span>
                        @scheme.ShortCost
                    </td>
                    <td class="govuk-table__cell nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Benefits</span>
                        @scheme.ShortBenefits
                    </td>
                    <td class="govuk-table__cell nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Time</span>
                        @scheme.ShortTime
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p class="govuk-body">
                <a asp-route="@(Model.Preview.IsPreview ? "home-preview" : "home")" class="govuk-link"> Return to list of all schemes </a>
            </p>
        </div>
    </div>
</div>

