@model ComparisonResultsModel

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@await Html.PartialAsync(

    "_PreambleBannerPartial",

    new Tuple<string, string, IHtmlContent?, SchemeFilterModel?>(@Model.Preview.IsPreview ? "home-preview" : "home", "Comparison of schemes", null, Model.Filters)

)

@{

    string filterQueryString = Model.Filters == null ? string.Empty : Model.Filters.BuildFilterQueryString();

    string completeUrl = $"{Url.Action("Comparison", "Schemes", Model.Schemes, protocol: HttpContextAccessor.HttpContext?.Request.Scheme)!}?{filterQueryString}";

}

<div class="govuk-width-container">

    <div class="govuk-grid-row govuk-!-padding-top-6 govuk-!-padding-bottom-6 govuk-!-padding-left-2 govuk-!-padding-right-2">

        <a asp-controller="Schemes" asp-action="@(Model.Preview.IsPreview ? "comparison-preview" : "comparison")" class="das-button__secondary govuk-!-margin-bottom-0" role="button">Clear filters and show all schemes</a>

    </div>

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            <div class="nhsuk-table-container govuk-!-margin-bottom-0">

                <table id="comparison-results-table" class="govuk-table nhsuk-table-responsive govuk-!-margin-bottom-0" aria-labelledby="comparison-results-h1">
                        
                    <thead class="nhsuk-table__head">

                        <tr class="govuk-table__row">

                            <th scope="col" class="govuk-table__header">Scheme name</th>

                            <th scope="col" class="govuk-table__header">Recruit new staff or train existing staff</th>

                            <th scope="col" class="govuk-table__header">Age criteria</th>

                            <th scope="col" class="govuk-table__header">Cost</th>

                            <th scope="col" class="govuk-table__header">Duration</th>

                        </tr>

                    </thead>

                    <tbody class="govuk-table__body nhsuk-table__body">

                        @foreach (Scheme scheme in Model.Schemes)
                        {

                            <tr class="govuk-table__row nhsuk-table__row">

                                <td class="govuk-table__cell nhsuk-table__cell">

                                    <span class="nhsuk-table-responsive__heading">Scheme</span>

                                    <a id="scheme-header-link-@scheme.HtmlId" asp-route="@(Model.Preview.IsPreview ? "schemes-preview" : "schemes")" asp-route-schemeUrl="@scheme.Url" class="govuk-link" role="link">@(string.IsNullOrWhiteSpace(scheme.ShortName) ? scheme.Name : scheme.ShortName)</a>
                                    
                                </td>

                                <td class="govuk-table__cell nhsuk-table__cell">

                                    <span class="nhsuk-table-responsive__heading">New or existing staff</span>

                                    @scheme.ComparisonRecruitOrTrain

                                </td>

                                <td class="govuk-table__cell nhsuk-table__cell">

                                    <span class="nhsuk-table-responsive__heading">Age</span>

                                    @scheme.ComparisonAgeCriteria

                                </td>

                                <td class="govuk-table__cell nhsuk-table__cell">

                                    <span class="nhsuk-table-responsive__heading">Cost</span>

                                    @scheme.ComparisonCost

                                </td>

                                <td class="govuk-table__cell nhsuk-table__cell">

                                    <span class="nhsuk-table-responsive__heading">Duration</span>

                                    @scheme.ComparisonDuration

                                </td>

                            </tr>

                        }

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>

@await Html.PartialAsync("_SharePagePartial", completeUrl)