@model SchemeDetailsModel
@using SFA.DAS.FindEmploymentSchemes.Web.Services;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{

    if (!string.IsNullOrWhiteSpace(Model.Scheme.Name))
    {

        ViewData["Title"] = Model.Scheme.Name[..Math.Min(Model.Scheme.Name.Length, 64)];

    }

    string completeUrl = Url.Action("Details", "schemes", null, protocol: HttpContextAccessor.HttpContext?.Request.Scheme)!;

}

@section PreviewErrors {

    @await Html.PartialAsync("_PreviewErrorsPartial", Model.Preview)

}

@* @await Html.PartialAsync(

    "_PreambleBannerPartial",

    new Tuple<string, string, IHtmlContent?, SchemeFilterModel?>(
        
        Model.Preview.IsPreview ? "home-preview" : "home", 
        
        @Model.Scheme.Name ?? string.Empty, 
        
        null, 
        
        null
    
    )

) *@

@await Html.PartialAsync(

    "_InterimPreamblePartial",

    Model.Scheme

)

<div class="govuk-width-container govuk-!-padding-top-6">

    <div id="scheme-details-outer" class="govuk-grid-row govuk-!-padding-3">

        <div id="scheme-details-inner-two-thirds" class="govuk-grid-column-two-thirds">

            @InterimPageService.GenerateView(@Model.Scheme)

        </div>

        <div class="govuk-grid-column-one-third">

            <h2 class="govuk-heading-m">Explore schemes</h2>

            <ul id="explore-schemes" class="govuk-list">

                @foreach (Scheme scheme in Model.Schemes)
                {

                    bool currentScheme = scheme == Model.Scheme;

                    <li id="scheme-details-inner-li-@scheme.HtmlId" class="@(currentScheme ? "explore-schemes-current-scheme" : "")">

                        @if (currentScheme)
                        {

                            @scheme.Name

                        }
                        else
                        {

                            <a id="scheme-details-inner-link-@scheme.HtmlId" asp-route="@(Model.Preview.IsPreview?"schemes-preview":"schemes")" asp-route-schemeUrl="@scheme.Url" class="govuk-link" role="link">@scheme.Name</a>
                    
                        }

                    </li>

                }

            </ul>

        </div>

        @if (@Model.Scheme.AdditionalFooter != null)
        {

            <div class="govuk-grid-column-full">

                @Model.Scheme.AdditionalFooter

            </div>

        }

    </div>

</div>


@await Html.PartialAsync("_SharePagePartial", completeUrl)