@model (SchemeDetailsModel, PreviewModel)

@{
    var schemeDetails = Model.Item1;
    var preview = Model.Item2;

    if (!string.IsNullOrWhiteSpace(schemeDetails.Scheme.Name))
    {
        ViewData["Title"] = schemeDetails.Scheme.Name[..Math.Min(schemeDetails.Scheme.Name.Length, 64)];
    }
}

@section BreadCrumbs {
    <a id="scheme-details-breadcrumb-back-link" href="/" class="govuk-back-link">Home</a>
}

@section PreviewErrors {
    @await Html.PartialAsync("_PreviewErrorsPartial", preview)
}

<div id="scheme-details-outer" class="govuk-grid-row">
    <div id="scheme-details-inner-two-thirds" class="govuk-grid-column-two-thirds">
        <h1 id="scheme-details-h1" class="govuk-heading-l">
            @schemeDetails.Scheme.Name
        </h1>
        @if (schemeDetails.Scheme.DetailsPageOverride != null)
        {
            @schemeDetails.Scheme.DetailsPageOverride
        }
        else
        {
            @schemeDetails.Scheme.Description

            if (schemeDetails.Scheme.SubSchemes.Any())
            {
                <div class="govuk-accordion" data-module="govuk-accordion" id="sub-scheme-accordion">
                @{
                    int ordinal = 0;
                    foreach (var subScheme in schemeDetails.Scheme.SubSchemes)
                    {
                        @await Html.PartialAsync("_AccordionSectionPartial", ("subscheme", ordinal++, subScheme))
                    }
                }
                </div>
            }
            else
            {
                <h2 id="scheme-details-h2-cost" class="govuk-heading-m"> Employer cost </h2>
                @schemeDetails.Scheme.Cost  
                <h2 id="scheme-details-h2-responsibility" class="govuk-heading-m"> Employer responsibilities </h2>
                @schemeDetails.Scheme.Responsibility
                <h2 id="scheme-details-h2-benefits" class="govuk-heading-m">Benefits of @schemeDetails.Scheme.Name</h2>
                @schemeDetails.Scheme.Benefits
                int numberOfCaseStudies = schemeDetails.Scheme.CaseStudies.Count();

                @if (schemeDetails.Scheme.CaseStudiesPreamble != null || numberOfCaseStudies > 0)
                {
                    <h2 id="scheme-details-h2-case-studies" class="govuk-heading-m">Case studies</h2>

                    @schemeDetails.Scheme.CaseStudiesPreamble

                    foreach (CaseStudy study in schemeDetails.Scheme.CaseStudies)
                    {
                        if (numberOfCaseStudies > 1)
                        {
                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        @study.DisplayTitle
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    @study.Content
                                </div>
                            </details>
                        }
                        else
                        {
                            <h3 id="scheme-details-h3-case-studies">@study.DisplayTitle</h3>
                            @study.Content
                        }
                    }
                }

                <section id="scheme-details-section-offer-header" class="cx-cta-box">
                    <h2 id="scheme-details-h2-offer-header" class="govuk-heading-m">@schemeDetails.Scheme.OfferHeader</h2>
                    @schemeDetails.Scheme.Offer
                </section>
            }
        }
	</div>
	<div class="govuk-grid-column-one-third">
		<h2 class="govuk-heading-l">Explore schemes</h2>
        <ul id="explore-schemes" class="govuk-list">
            @foreach (Scheme scheme in schemeDetails.Schemes)
            {
                bool currentScheme = scheme == schemeDetails.Scheme;
                <li id="scheme-details-inner-li-@scheme.HtmlId" class="@(currentScheme ? "explore-schemes-current-scheme" : "")">
                    @if (currentScheme)
                    {
                        @scheme.Name
                    }
                    else
                    {
                        <a id="scheme-details-inner-link-@scheme.HtmlId" asp-route="schemes" asp-route-schemeUrl="@scheme.Url" class="govuk-link">@scheme.Name</a>
                    }
                </li>
            }
        </ul>
    </div>
</div>

@section AdditionalFooter {
    @schemeDetails.Scheme.AdditionalFooter
}
