@using System.Web;
@model HomeModel

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@section PreviewErrors {

    @await Html.PartialAsync("_PreviewErrorsPartial", Model.Preview)

}

@await Html.PartialAsync(
    "_PreambleBannerPartial",
    new Tuple<string, string, IHtmlContent?, SchemeFilterModel?>(string.Empty, string.Empty, @Model.Preamble, null)
)

@{
    string completeUrl = string.IsNullOrWhiteSpace(Model.SelectedFilters) 
      ?  Url.Action("Home", "Schemes", null, protocol: HttpContextAccessor.HttpContext?.Request.Scheme)! 
      : $"{Url.Action("Home", "Schemes", null, protocol: HttpContextAccessor.HttpContext?.Request.Scheme)!}?{Model.SelectedFilters}";
}

<form id="scheme-home-filter-form" action="/" method="post">

    <div class="govuk-width-container govuk-!-padding-top-6 das-column__filters">

        <div id="scheme-home-filter-outer" class="govuk-grid-row app-filter-layout">

            <div id="scheme-home-filter-inner" class="govuk-grid-column-one-third app-filter-layout__filter filters_mobile_hidden">

                <div id="scheme-filter" class="das-filter app-filter @(Model.EnsureSchemesAreVisible?"app-hide-on-mobile-no-js":"")" tabindex="0" data-module="app-show-hide">

                    <h2 id="filters" class="das-filter__heading govuk-!-margin-bottom-0">Filters</h2>

                    <a id="close-filter" class="govuk-link desktop_hidden">Back</a>

                    <div id="scheme-filter-options" class="das-filter__body">

                        @foreach (var filter in Model.Filters)
                        {

                            @await Html.PartialAsync("_FilterGroupPartial", filter)

                        }

                        <div id="scheme-home-filter-form-button-group" class="govuk-button-group">

                            <button id="filter-box-filter-schemes" name="actionButton" class="das-button__primary govuk-!-margin-bottom-0 govuk-!-width-full" value="Filter">Filter schemes</button>

                        </div>

                        <div id="scheme-home-filter-form-button-group" class="govuk-button-group">

                            <a id="clear-filters" asp-route="@(Model.Preview.IsPreview ? "home-preview" : "home")" class="das-button__secondary govuk-!-width-full">Clear filters</a>

                        </div>

                    </div>

                </div>

            </div>

            <div id="schemes" class="govuk-grid-column-two-thirds app-filter-layout__content">

                <div class="govuk-grid-column-full govuk-!-padding-0">

                    <a id="filter-schemes" class="das-button__primary desktop_hidden" role="button" aria-controls="scheme-filter" aria-expanded="false">Filter schemes</a>

                </div>

                @if(Model.Schemes.Any())
                {

                    <div class="govuk-grid-column-full govuk-!-padding-0">

                        <div class="govuk-grid-column-full govuk-!-padding-0">

                            <label class="govuk-heading-s">Number of schemes: @Model.Schemes.Count()</label>

                        </div>

                    </div>

                    <div class="govuk-grid-column-full govuk-!-padding-0">

                        <div class="govuk-grid-column-one-half govuk-!-padding-0 govuk-!-padding-top-1 govuk-!-margin-bottom-6">

                            <button id="filter-box-filter-schemes" name="actionButton" class="govuk-link govuk-!-padding-left-0" value="Compare">Compare these schemes in a table</button>

                        </div>

                        <div class="govuk-grid-column-one-half govuk-!-padding-0">

                            <div class="govuk-form-group flex-container govuk-!-margin-bottom-0">

                                <label class="govuk-label govuk-!-font-weight-bold govuk-scheme_sort_label" for="scheme-sort">Sort by:</label>

                                <select class="govuk-select govuk-scheme_sort_select" id="scheme-sort" name="Sort" onchange="sortSchemes()">

                                    <option value="default" selected>No sort selected</option>

                                    <option value="popularity">Popularity (most popular first)</option>

                                    <option value="duration">Duration (shortest first)</option>

                                    <option value="cost">Cost (cheapest first)</option>

                                </select>

                            </div>

                        </div>

                    </div>

                }

                <div id="scheme-holder" class="govuk-!-padding-0">

                    @if(Model.Schemes.Any())
                    {

                        @foreach (var scheme in Model.Schemes)
                        {

                            @await Html.PartialAsync("_SchemePartial", (scheme, Model.Preview))

                        }

                    }
                    else
                    {

                        <div class="das-employers__no_schemes govuk-grid-column-full govuk-!-padding-6">

                            <h2>There are no matching results</h2>

                            <p>Change your filters or <a id="no-filters-clear" asp-route="@(Model.Preview.IsPreview ? "home-preview" : "home")" class="govuk-link">clear all filters</a> to try again.</p>

                        </div>

                    }

                </div>

            </div>

        </div>

    </div>

</form>

@await Html.PartialAsync("_SharePagePartial", completeUrl)

<script asp-add-nonce>

    document.addEventListener("DOMContentLoaded", function() {

        initMobileView();

    });

</script>